@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand : #C1FFB4;
  --color-secondary : #9EBAC1;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  /* @apply bg-[#]; */
  background-color: #052128;
}

.banner_card{
  background: linear-gradient(180deg,rgb(11, 49, 57) 100%, rgb(255, 255, 255) 0%);
}

.workflow{
  background-image: url(../public/images/workflow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.work_cont{
  background-image: url(../public/images/workflow_light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -20%;
  left: 0;
  opacity: 20%;
}

.linear{
  background: linear-gradient(180deg,rgb(24, 67, 75) 100%, rgb(255, 255, 255) 0%);
  z-index: 999;
}
a{
  display: inline-block;
}